/*code*/
.detail-body pre {
  background-color: #272822 !important;
  margin-top: 10px;
  overflow-x: auto !important;
  font-size: 16px;
  position: relative;
  padding: 10px;
  padding-left: 42px !important;
  border-radius: 4px;
}

.detail-body pre:before {
  content: '';
  height: 100%;
  width: 28px;
  background-color: #373737;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 0px 5px 5px 0px;
  overflow: hidden;
  box-shadow: 1px 0px 2px rgba(36, 36, 36, .2)
}
.detail-body p code, .detail-body li>code{
  background-color: #eee;
  padding: 2px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  line-height: 18px;
  margin: 0px 3px;
  margin-bottom: 2px;
  display: inline-block;
}
.detail-body  table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.detail-body table th, .detail-body table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  color: #333;
}
.detail-body ol {
  padding-left: 20px;
  margin-bottom: 10px;
}
.detail-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#articlesDetails {
  overflow: inherit !important;
  height: auto !important;
  padding-bottom: 50px;
}

.detail-body pre code {
  color: #fff;
  /*font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;*/
  font-family: monospace,monospace;
  letter-spacing: 0px;
  line-height: 24px;
}

.detail-body hr {
  border: inherit !important;
  background-color: #D3DCE6;
  margin-top: 10px;
  margin-bottom: 10px;
}

.detail-body blockquote {
  background-color: #EFF2F7;
  padding: 10px;
  border-left: 10px solid #D3DCE6;
  color: #D3DCE6;
  margin-bottom: 10px;
}

.detail-body h1 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 8px;
  color: #333
}

.detail-body h2 {
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  margin-bottom: 10px;
  color: #444
}

.detail-body h3 {
  font-size: 18px;
  font-weight: 900;
  line-height: 28px;
  margin-bottom: 10px;
  color: #444
}

.detail-body h4 {
  font-size: 17px;
  font-weight: 900;
  line-height: 28px;
  margin-bottom: 10px;
  color: #555
}

.detail-body blockquote {
  margin-top: 14px;
  margin-bottom: 14px;
}

.detail-body p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: rgb(36, 41, 46);
}

.detail-body strong {
  color: rgb(0, 123, 111);
}

.detail-body a {
  text-decoration: underline;
  color: rgb(13, 92, 119);
}
.detail-body em {
  color: #666
}

.detail-body pre {
  margin-bottom: 15px;
  box-shadow: 0px -1px rgba(0, 0, 0, 0.04)
}

.detail-body img {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 6px 0px;
  cursor: pointer;
}

.detail-body blockquote * {
  margin-bottom: 0px
}

.detail-body a:hover {
  color: #005e55 !important
}

.detail-body ul {
  padding-left: 28px;
  margin-bottom: 14px
}

.detail-body li {
  list-style: initial !important;
  color: #24292e
}